
.container{
  padding:50px;
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 450px;
  background-color: turquoise;
  border-radius: 5px;
  border: 3px solid black;
}
.commondiv{
  display: flex;
}
#password1{
  padding-left: 130px;
  padding-right: 50px;
}
.passwordButton{
  border-radius: 5px;
  border: none;
  background-color: lightgreen;
  color: white;
  font-size: 20px;
}
